/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/.prepl-port
.hgignore
.hg/

PLATFORM
reports
*.zip
*.build_artifacts.txt
lambda-demo
bootstrap

node_modules
package-lock.json
package.json
